<header id="kolumna1" class="cien_blue" ><h3>Menu</h3>
  <ul>
    <li><a href="@mainlink()">Home</a></li>
  </ul>
  <h3>Materiały podręczne</h3>
  <ul>
    <li><a href="http://niebezpiecznik.pl" target="_blank">Niebezpiecznik</a></li>
    <li><a href="http://www.dobreprogramy.pl" target="_blank">Dobreprogramy.pl</a></li>
    <li><a href="http://www.w3schools.com/" target="_blank">W3school</a></li>
    <li><a href="http://sourceforge.net/projects/notepad-plus/" target="_blank">Notepad ++</a></li>
    <li><a href="http://gimp.org" target="_blank">Gimp</a></li>
    <li><a href="http://colorschemedesigner.com/csd-3.5/" target="_blank">Kolory</a></li>
    <li><a href="http://thewebrocks.com/demos/3D-css-tester/" target="_blank">3D w kodzie HTML5</a></li>
    <li><a href="http://thewebrocks.com/demos/3D-css-tester/" target="_blank">Linux.pl</a></li>

  </ul>

</header>